.Human
{
  margin: 30px 20px auto;
  border: 3px solid rgb(101, 231, 118);
  padding:20px;
  text-align:center;
  box-shadow: 10px 5px 5px rgb(186, 214, 120);
  background-color: #7adaa5;
  min-height: 10vh;
  display: block;
  align-items: center;
  justify-content: center;
  color:rgb(7, 53, 71);
}
